:root {
  --main-green: #4CCCAC;
  --medium-green: #c4efe5;
  --light-green: #f3fcf9;
  --light-gray: #a6a6a6;
}

/******Text/Background******/
.green-background { /* set right sidebar background color */
  width: 31%;  /* 5/16 columns */
  height: 100%;
  top: 0;
  padding: 24px 20px 16px 16px;
  background-color: var(--light-green) !important;
  position: fixed;
}
.large-text {
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 20px;
  color: var(--main-green);
}
.notes ul {
  padding: 0 16px;
  list-style-type: none;
}
.timestamp {
  font-size: 12px;
  color: var(--light-gray);
}
.note {
  font-size: 14px;
  margin-bottom: 4px;
}
.notes:target { /* doesn't seem to work */
  background-color: orange !important;
  border: 1px solid black !important;
}

/******Transcript******/
.transcript {
  font-size: 16px;
  line-height: 24px;
}
.transcript ul {
  padding-left: 0;
  list-style-type: none;
}
li.speaker-yellow {
  background: url('./components/images/speaker1.png') no-repeat left top;
  background-size: 30px;
  padding-bottom: 8px;
  padding-left: 48px;
  padding-top: 5px;
}
li.speaker-red {
  background: url('./components/images/speaker2.png') no-repeat left top;
  background-size: 30px;
  padding-bottom: 16px;
  padding-left: 48px;
  padding-top: 5px;
}




/******Buttons******/
.ui.button.green, .green-btn {
  background-color: var(--main-green) !important;
  color: white !important;
}
.light-green-btn {
  background-color: var(--medium-green) !important;  /* delete and leave as gray????????? */
}
.right-btn {
  margin-top: -4px;
}
.gray-background {
  background-color: #e1e1e1;
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/******Audio******/
audio {
  filter: sepia(100%) saturate(70%) grayscale(1) contrast(99%) invert(6%);
  width: 890px;
  height: 48px;
  background-color: #ededed;
  box-shadow:  0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.20);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
} 
audio:focus {
  outline:none;
}
figure {
  position: fixed;
  bottom: 0;
  left: 0;
}
audio::-webkit-media-controls-seek-back-button {
  background-color: blue;
}


/******Tabs*****/
.ui.tab {
  background-color: var(--light-green) !important;
  border: none !important;
  padding: 0 !important;
}

/******Segments******/
.no-border {
  border: 0 none !important;
  box-shadow: none !important;
}
.bitOfPadding {
  margin: 2px;
}
.ui.menu {
  border-bottom: 0 none !important;
  box-shadow: none;
}

.ui.modal,
.ui.active.modal {
  /* margin: 0 auto!important; */
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

/******TextEditors******/

.editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 14px;
  margin-top: 10px;
}